*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* HEADER STYLE */

.section-1 {
    width: 100%;
    height: 80px;
    background-color: lightblue;

}


.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 ;
}


.row {
    display: flex;
    width: 70%;
    height: 50px;
    background-color: rgb(232, 170, 13);
}

.col-small {
    padding: 10px;
    text-align: center;
    width: 20%;
    height: 50px;
    border: 2px dashed black;

}

.col-large {
    padding: 10px;
    text-align: center;
    width: 60%;
    height: 50px;
    border: 2px dashed black;

}

/* END HEADER STYLE */

/* GENERAL ROLE CONTAINER */
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 ;
}


/* SEZIONE 1 */

.section-2{
    width: 100%;
    height: 500px;
    background-color: blue;


}


.row-60 {
    display: flex;
    width: 60%;
    height: 400px;
    background-color: palevioletred;
    border: 2px dashed black;
}


/* SEZION 2-4 */


.row-80 {
    display: flex;
    width: 80%;
    height: 600px;
    background-color: rgb(133, 134, 135);
    
    
}

.col-40 {
    width: 40%;
    background-color: rgb(249, 133, 187);
    border: 2px dashed black;


}

.col-60 {
    width: 60%;
    background-color: rgb(40, 129, 218);
    border: 2px dashed black;

}

.empty{
    background-color: white;
}


.reverse {
    background-color: gainsboro;
}

/* CONTAINER GRANDE UNICO */

.section-3{
    background-color: gainsboro;
}


.higther-row {
    width: 80%;
    background-color: rgb(40, 129, 218);
   

}

.col-80 {
    height: 800px;
    width: 100%;
    background-color: rgb(16, 133, 30);
    border: 2px dashed black;

}

  /* CONTAINER SUDDIVISO IN 5 SEZIONI  */

.section-footer {
    background-color: black;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0px 50px ;
}

/* FOOTER */

.row-footer {
    display: flex;
    width: 80%;
    height: 500px;
    background-color: rgb(232, 170, 13);
}

.col-footer-33 {
    width: 33%;
    height: 500px;
    background-color: palevioletred;
    border: 2px dashed black;
}
.col-footer-17{
    width: 17%;
    height: 500px;
    background-color: rgb(15, 201, 195);
    border: 2px dashed rgb(251, 250, 250);


}

/* FOOTER BASSO */

.section-footer-basso {
    margin-top: 1px;
    width: 100%;
    background-color: black;
}


.container-footer-basso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0px 50px ;
}


.row-footer-basso {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    background-color: rgb(49, 245, 203);
}

.bottoni-bassi {
    padding-top: 1px;
    text-align: center;
    align-self: center;
    width: 12%;
    height: 30px;
    background-color: palevioletred;
    border: 1px dashed black
}





